a,
.source {
  cursor: pointer;
}

html,
body {
  font-family: "Arial";
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.linegraph {
  position: relative;
  left: 35px;
  bottom: -65px;
}

.pointgraph {
  position: relative;
  left: 35px;
  bottom: -65px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

#app {
  padding: 50px 100px;
}

.sidebar {
  background-color: #b3e5fc;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  width: 330px;
}

.main-area {
  align-items: center;
  justify-content: center;
}

.linelegend {
  position: relative;
  left: 62px;
  bottom: 505px;
}

.pointlegend {
  position: relative;
  left: 500px;
  bottom: 520px;
}

#selectbox {
  position: relative;
  left: 75px;
  bottom: -10px;
  width: 100px;
}

.linedescription {
  position: relative;
  left: 95px;
  bottom: -50px;
}

button {
  position: relative;
  left: 10px;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 15px;
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
}
